/* TODO: Port styles to tailwinds */
.cube-container {
  display: flex;
  justify-content: center;
}
.cube-scene {
  width: 2em;
  height: 2em;
  color: black;
  transform-style: preserve-3d;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  animation: rotate 10s infinite;
  animation-timing-function: linear;
}

.cube__face {
  position: absolute;
  width: 100%;
  height: 100%;
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(1em);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(1em);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(1em);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(1em);
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(1em);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(1em);
}

@keyframes rotate {
  from {
    transform: rotateX(45deg) rotateY(45deg) rotateZ(45deg);
  }
  to {
    transform: rotateX(45deg) rotateY(405deg) rotateZ(405deg);
  }
}
