@import "tailwindcss/base";
h1 {
  @apply text-5xl;
  letter-spacing: 0.06rem;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
p {
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.05rem;
}
a {
  @apply text-blue-600 underline;
}
body {
  font-family: "Roboto", "sans-serif";
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: "100vh";
  background: #659999; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f4791f,
    #659999
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f4791f,
    #659999
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@import "tailwindcss/components";
@import "tailwindcss/utilities";
