@import "tailwindcss/base";
h1 {
  @apply text-5xl;
  letter-spacing: 0.06rem;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
p {
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.05rem;
}
a {
  @apply text-white;
  @apply underline;
}
html {
  @apply text-2xl;
}
body {
  font-family: "Roboto", "sans-serif";
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: "100vh";
  color: #fff;
  background: #3a475a;
  /* background: #659999; */
  /* background: -webkit-linear-gradient(
    to right,
    #f4791f,
    #659999
  );
  background: linear-gradient(
    to right,
    #f4791f,
    #659999
  ); */
}
@import "tailwindcss/components";
@import "tailwindcss/utilities";
