@import "tailwindcss/base";
h1 {
  @apply text-2xl;
  letter-spacing: 0.06rem;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
p {
  line-height: 2rem;
  letter-spacing: 0.05rem;
}
a {
  @apply text-blue-600 underline;
}
@import "tailwindcss/components";
@import "tailwindcss/utilities";
